<h1> These are our Restaurants:</h1>

<div class= "container">
<ul class="list-group">
<% @restaurants.each do |restaurant|%>
<li><%= restaurant.name %></li>
<%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
<% end %>
</ul>
</div>
